html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1612px;
    margin: auto;
    padding: 0px 16px;
}

.worldwide-office .worldwide-office-svg svg {
    color: #2673DD;
    transition: all 0.3s ease-in-out;
}

.worldwide-office:hover .worldwide-office-svg svg {
    color: black;
}

.worldwide-office-text-icon svg {
    color: #2673DD;
    transition: all 0.3s ease-in-out;
}

.worldwide-office:hover .worldwide-office-text-icon svg {
    color: black;
}

.header-menubar-text {
    position: relative;
}

.box-decoration-slice {
    display: none;
    position: absolute;
    margin: auto;
    background-color: #2673DD;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    bottom: -8px;
    right: 0;
    left: 0;
}

.header-menubar-text:hover .header-menubar-hypertext .box-decoration-slice {
    display: block;
}

/* ======================================================== reasponsiv ==================================================== */

@media (max-width: 1023px) {
    .container {
        padding: 0px 15px;
    }

    .menu-icon-hide {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

    .mymenu {
        max-width: 400px;
        width: 100%;
        height: 100vh;
        background-color: #182F4F;
        position: fixed;
        top: 0;
        left: 0px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        flex-direction: column;
        text-align: center;
        transition: all 0.3s ease-in-out;
        overflow-y: auto;
        z-index: 100;
    }

    .open {
        left: -420px;
        padding-top: 50px;
        width: 400px;
        height: 100vh;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #08111F;
        opacity: .50;
        z-index: 50;
        display: none;
    }

    .overlay.hidden {
        display: block;
    }
}

@media (max-width: 575px) {
    .worldwide-office-content {
        padding: 15px;
    }

    .worldwide-office-title h2 {
        font-size: 29px;
        line-height: 30px;
    }

    .worldwide-office-center {
        margin-top: 15px;
        gap: 15px;
    }

    .worldwide-office {
        padding: 10px;
    }

    .worldwide-office-svg svg {
        width: 35px;
        height: 35px;
    }

    .worldwide-office-text {
        margin: 0px 0px 10px;
        font-size: 21px;
        line-height: 25px;
    }

    .worldwide-office-text-info {
        justify-content: center;
        gap: 3px;
    }

    .worldwide-office-text-info p {
        font-size: 16px;
        line-height: 18px;

    }

    .worldwide-office-text-icon svg {
        width: 20px;
        height: 20px;
    }

}
