@import "tailwindcss";
@import "./home.css";


/* =============================================================== header ========================================================= */
.menulogo {
    @apply inline-flex
}

.menulogo:hover a {
    @apply text-[#2673DD]
}

.menulogo a {
    @apply hover:animate-bounce text-[#FFFFFF] font-bold text-3xl leading-[21px] list-none hover:text-[#2673DD] duration-300
}

.header-menubar-text {
    @apply inline-block duration-300 ease-in-out font-normal leading-[23px] text-[18px] sm:hover:text-[#2673DD]
}

.header-menubar-text:hover {
    @apply text-[#2673DD]
}

.blackwhite-btn:hover {
    @apply bg-[#2673DD]
}

.menu-icon-hide:hover {
    @apply bg-[#2673DD]
}

.menu-icon-hide:hover svg {
    @apply rotate-[90deg]
}

.cross-icon:hover {
    @apply bg-[#2673DD]
}

.menulogo-second:hover a {
    @apply text-[#2673DD]
}

/* =============================================================== hero-section ========================================================= */
.section {
    @apply mt-[35px] sm:mt-12 md:mt-12 lg:mt-16 2xl:mt-[78px]
}

.text-paragraph {
    @apply mt-2.5 text-[#566376] text-[16px] leading-[18px] tracking-normal font-normal sm:text-[16px] sm:leading-[18px] sm:mt-2.5 lg:text-[16px] lg:leading-6 xl:leading-[26px] xl:mt-4
}

#text-pera {
    @apply text-center mt-2.5 leading-[18px] sm:mt-2.5 sm:text-center sm:leading-[18px] 2xl:text-left 2xl:mt-6 2xl:leading-[25.5px]
}

/* ========================================================== worldwide-office-section================================================= */
.worldwide-office-title {
    @apply text-center relative
}

.worldwide-office-title h2 {
    @apply text-[#16253A] text-[30px] leading-[35px] tracking-normal font-bold sm:text-3xl sm:leading-8 lg:text-[35px] lg:leading-9 xl:text-[38px] xl:leading-10 2xl:text-[46px] 2xl:leading-[58px] inline-block
}

.worldwide-office {
    @apply bg-white rounded-[20px] text-center p-5 cursor-pointer duration-300 ease-in-out hover:-mt-0 hover:mb-0 w-auto sm:p-5 sm:text-center xl:text-left xl:hover:-mt-2.5 xl:hover:mb-2.5 2xl:p-[37px]
}

.worldwide-office-text {
    @apply text-[#16253A] font-semibold text-[22px] leading-6 mt-2.5 mb-2.5 tracking-normal sm:text-[22px] sm:leading-6 sm:mt-3.5 sm:mb-3.5 xl:text-[32px] xl:leading-10 xl:mt-5 xl:mb-4;
}

.worldwide-office-text-info {
    @apply flex items-center justify-center text-[#182F4F] text-[17px] font-light leading-[18px] tracking-normal gap-1.5 mb-1.5 sm:justify-center sm:mb-2 md:gap-2.5 md:mb-[15px] xl:justify-start lg:text-[18px] lg:leading-[23px];
}

.worldwide-office-text-info-second {
    @apply flex items-center justify-center text-[#182F4F] text-[18px] font-light leading-[23px] tracking-normal gap-1.5 sm:justify-center xl:justify-start;
}

/* =============================================================== help-line-section ========================================================= */

#only-title {
    @apply text-center sm:text-center 2xl:text-left
}

.help-line-center {
    @apply inline-flex flex-col text-center w-fit items-center gap-2.5 sm:gap-3 sm:flex-col sm:items-center sm:text-center md:w-full 2xl:text-start 2xl:flex-row
}

.help-line-center .help-line-center-icon-text p {
    @apply duration-300 ease-in-out text-[#16253A] text-[17px] leading-[20px] font-normal opacity-80 sm:text-[17px] sm:leading-[18px] 2xl:text-[20px] 2xl:leading-[25px]
}

.help-line-center:hover .help-line-center-icon-text p {
    @apply text-[#2673DD]
}

.help-line-center .help-line-center-icon-text h5 {
    @apply duration-300 ease-in-out text-[#182F4F] text-[20px] leading-5 mt-[8px] font-medium mt-3.5 sm:text-[20px] sm:leading-5 sm:mt-2.5 2xl:text-[26px] 2xl:leading-[33px] 2xl:mt-3.5
}

.help-line-center:hover .help-line-center-icon-text h5 {
    @apply text-[#2673DD]
}

.help-line-center-icon svg {
    @apply w-[50px] h-full sm:w-[60px] sm:h-full lg:w-[80px] 2xl:w-[120px] 2xl:h-full
}

.help-line-center .help-line-center-icon svg .help-line-center-icon-design {
    @apply duration-300 ease-in-out
}

.help-line-center:hover .help-line-center-icon svg .help-line-center-icon-design {
    @apply text-[#2673DD]
}

.help-line-center .help-line-center-icon svg .help-line-center-icon-design-second {
    @apply duration-300 ease-in-out
}

.help-line-center:hover .help-line-center-icon svg .help-line-center-icon-design-second {
    @apply text-[#ffffff]
}

#help-line-pera {
    @apply text-center mt-[10px] mb-[20px] sm:mt-2.5 sm:mb-4 lg:mt-6 lg:mb-6 2xl:text-start
}

.help-line-input-info {
    @apply max-w-full outline-none lg:h-fit
}

.help-line-input-info .input-propertie {
    @apply outline-none bg-[#EFF5FD] p-[13px] w-full rounded-[10px] border-[1px] border-transparent duration-300 ease-in-out sm:p-4 xl:p-[22px]
}

.help-line-input-info .input-propertie::placeholder {
    @apply opacity-30 text-[#141B26] text-[16px] font-normal leading-[20px] sm:text-[16px] sm:leading-4 lg:text-[18px]
}

.input-propertie::placeholder {
    @apply opacity-30 text-[#141B26] text-[18px] font-normal leading-[26px] sm:text-[16px] sm:leading-4
}

.help-line-input-info:hover .input-propertie {
    @apply hover:border-[1px] border-[#2673DD]
}

#textarea-propertie:hover {
    @apply border-[1px] border-[#2673DD]
}

.input-btn:hover {
    @apply bg-[#EFF5FD] text-[#2673DD] border-[1px] border-[#2673DD]
}

/* ========================================================= News-section ================================================= */
.News-section {
    @apply rounded-[20px]
}

.News-main {
    @apply rounded-[20px] duration-300 ease-in-out max-w-full shadow-[0_6px_25px_2px_#182F4F14] sm:shadow-[0_6px_25px_2px_#182F4F14] sm:max-w-[300px] sm:w-full sm:mx-auto lg:shadow-none lg:mx-0 lg:max-w-full
}

.News-main:hover {
    @apply shadow-[0_6px_25px_2px_#182F4F14] cursor-pointer
}

.News-main:hover .News-img img {
    @apply scale-[1.1] opacity-[0.7]
}

.News-img {
    @apply max-w-[300px] w-full h-[200px] overflow-hidden rounded-t-[20px] bg-black sm:max-w-full sm:max-h-fit sm:w-full sm:h-[200px] xl:h-[250px] 2xl:h-[300px]
}

.News-img img {
    @apply w-full h-full duration-300 ease-in-out
}

.News-info {
    @apply p-[10px] sm:p-4 xl:p-[22px] xl:pr-16
}

.News-text-title {
    @apply flex flex-col items-center gap-[7px] md:gap-3 md:flex-col md:items-center lg:items-start lg:flex-row lg:gap-[30px]
}

.News-info-item {
    @apply flex gap-2.5 items-center
}

.News-info-item svg {
    @apply w-[18px] h-[18px] sm:w-[18px] sm:h-[18px] xl:w-[24px] xl:h-[24px]
}

.News-text-info {
    @apply text-[#182F4F] text-[17px] leading-5 font-light sm:text-[16px] xl:text-[18px] xl:leading-[23px]
}

.News-text-pera {
    @apply text-[#182F4F] text-[18px] leading-[20px] font-normal mt-2 text-center sm:text-[20px] sm:leading-6 sm:mt-2.5 md:text-center md:mt-4 lg:text-start xl:text-[22px] xl:leading-8
}

/* ========================================================= Questions-section ================================================= */
.Asked-Questions {
    @apply border-b-[1px] border-[#2673DD33] px-[15px] py-[15px] sm:p-[15px] lg:p-[20px] 2xl:px-[27px] 2xl:py-[30px]
}

#Asked-Questions-1 {
    @apply px-[15px] py-[15px] pt-0 sm:p-[15px] sm:pt-0 lg:p-[20px] lg:pt-0 2xl:px-[27px] 2xl:py-[30px] 2xl:pt-0
}

#Asked-Questions-4 {
    @apply border-0 px-[15px] py-[15px] pb-0 sm:p-[15px] sm:pb-0 lg:p-[20px] lg:pb-0 2xl:px-[27px] 2xl:py-[30px] 2xl:pb-0
}

.Qustions-info {
    @apply cursor-pointer
}

.Qustions-tap h4 {
    @apply text-[#16253A] text-[17px] leading-[20px] font-normal sm:text-[18px] sm:leading-5 lg:text-[19px] lg:leading-[25px] xl:text-[20px]
}

.Questions-active-icon {
    @apply m-1 ml-3 sm:m-0 sm:ml-3 xl:m-1
}

.Questions-active-icon svg {
    @apply w-[26px] h-fit sm:w-[30px] sm:h-fit lg:w-[35px] xl:w-[42px]
}

#unactive-icon {
    @apply hidden cursor-pointer
}

.Qustions-info:hover .Qustions-tap #unactive-icon {
    @apply block
}

.Qustions-info:hover .Qustions-tap .Questions-active-icon {
    @apply hidden
}

.Qustions-info p {
    @apply hidden text-[#68778B] text-[15px] leading-[20px] font-normal mt-2 pr-[47px] sm:leading-[20px] sm:p-0 xl:text-[16px] xl:leading-[26px] xl:pr-[124px]
}

.Qustions-info:hover p {
    @apply block
}

/* ======================================================== footer-section ==================================================== */
#footer-textpera {
    @apply mt-0 mb-0 text-[16px] leading-[20px] sm:text-center xl:text-start
}

.footer-call-gmail {
    @apply flex gap-2.5 items-center duration-300 ease-in-out
}

.footer-call-gmail .footer-icon {
    @apply duration-300 ease-in-out
}

.footer-call-gmail:hover .footer-icon {
    @apply bg-[#2673DD]
}

.footer-call-gmail .footer-icon svg {
    @apply duration-300 ease-in-out
}

.footer-call-gmail:hover .footer-icon svg {
    @apply text-[#ffffff]
}

.footer-icon {
    @apply p-[10px] bg-[#D1E1F8] rounded-full sm:p-2.5 lg:p-[15px] 2xl:p-[19px]
}

.footer-icon svg{
    @apply w-[20px] h-fit sm:w-[25px] sm:h-fit lg:w-[28px] 2xl:w-[32px]
}

.footer-icon-text p {
    @apply text-[#566376] text-[14px] leading-[18px] font-light mb-0.5 sm:leading-5 lg:leading-[26px]
}

.footer-icon-text h5 {
    @apply text-[#566376] text-[18px] leading-[22px] font-medium sm:text-[20px] sm:leading-5 lg:text-[22px] lg:leading-[26px]
}

.footer-call-gmail:hover .footer-icon-text h5 {
    @apply text-[#2673DD]
}

.footer-info{
    @apply h-fit
}

.footer-info h4 {
    @apply text-[#16253A] text-[22px] leading-[15px] font-medium sm:text-[19px] lg:text-[22px]
}

.footer-info-text {
    @apply mt-[38px] flex flex-col gap-5 sm:mt-4 sm:gap-2 2xl:mt-[38px] 2xl:gap-5
}

.footer-info-text li {
    @apply text-[#566376] text-[16px] leading-5 font-normal sm:text-[14px] sm:leading-4 lg:text-[16px] lg:leading-5 xl:text-[16px] xl:leading-5
}

.footer-info-text li a:hover{
    @apply text-[#2673DD]
}

/* ======================================================== reasponsiv ==================================================== */
@media (max-width: 1536px) {
    .help-line-content {
        @apply mr-0 ml-0
    }
}

@media (max-width: 575px) {
    .News-detail {
        @apply flex flex-col
    }

    .News-img {
        @apply mx-auto
    }

    /* .Questions-content{
        @apply mx-0
    } */
}